body {
  margin: 0;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/* Utils */
a {
  color: #495057;
}

a:hover {
  color: #495057;
}

.color-primary {
  color: #ffa500;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
