body {
  margin: 0;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/* Utils */
a {
  color: #495057;
}

a:hover {
  color: #495057;
}

.color-primary {
  color: #ffa500;
}

.custom-container {
  max-width: 900px;
  max-height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-primary {
  color: black;
  background-color: #ffa500;
  border-color: #ffa500;
}

.btn-primary:hover {
  color: black;
  background-color: #eb9902;
  border-color: #eb9902;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: black;
  background-color: #eb9902;
  border-color: #eb9902;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-loading {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffa500;
  height: 5px;
  width: calc(100% - 16.6666666667%);
}
